#mapid{
    height: 100vh;
}

#title{
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}


#scroller {
  overflow: auto;
  height: 100vh;
    
}

.btn{
    cursor: pointer;
    margin: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: #FFFEFF;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 3px;
}

