body {
	color: #333;
	background-color: #fff;
}

img {
	max-width: 100%;
}

/*
.container {
	max-width: -webkit-calc(100% - 60px);
	max-width: calc(100% - 60px);
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px
}
*/

.projects .project-thumbnail {
	transition-property: transform;
	transition-duration: 0.5s
}
.projects .project-thumbnail:hover {
	transition-property: transform;
	transition-duration: 0.5s;
	transform: translate(0px, -8px)
}
.projects .project-title {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 16px
}
@media screen and (max-width: 576px) {
	.projects .project-title {
		font-size: 12.8px
	}
}
.projects .project-subtitle {
	text-align: center;
	font-size: 12.8px;
	margin-bottom: 20px
}
@media screen and (max-width: 576px) {
	.projects .project-subtitle {
		font-size: 9.6px
	}
}