body {
	background-color: #fff;
	font-family: 'Varela Round', sans-serif;
}
img {
	max-width: 100%;
}
.navbar {
	margin-bottom: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.navbar-brand {
	font-family: 'Jaldi', sans-serif;
	font-size: 45px;
	color: #333;
}
.navbar-text {
	position: absolute;
	margin-top: 30px;
	font-size: 15px;
	color: #333;
}
.nav-link {
	margin-top: 55px;
}
.tiles {
	max-width: 100%;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.tiles:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.projects .project-thumbnail {
	position: relative;
	color: #fff;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.projects .space {
	padding-bottom: 25px;
}
.projects .project-title {
	color: white;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 900;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 7px rgba(0, 0, 0, 0.1), 0px 9px 12px rgba(0, 0, 0, 0.1);
	padding-right: 5px;
}
@media screen and (max-width: 576px) {
	.projects .project-title {
		font-size: 12.8px
	}
	.navbar-brand {
		font-family: 'Jaldi', sans-serif;
		font-size: 30px;
	}
	.navbar-text {
		position: absolute;
		margin-top: 18px;
		font-size: 10px;
	}
	.nav-link {
		margin-top: 30px;
	}
}
.projects .project-subtitle {
	color: white;
	font-size: 12.8px;
	line-height: 1.2;
	font-weight: 600;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 7px rgba(0, 0, 0, 0.1), 0px 9px 12px rgba(0, 0, 0, 0.1);
	padding-right: 5px;
}
@media screen and (max-width: 576px) {
	.projects .project-subtitle {
		font-size: 9.6px
	}
}
.modal-title {
	color: #333;
}
.modal-open .modal.fade .modal-dialog {
	position: absolute;
	left: 0;
	right: 0;
	max-width: none;
}
.modal-content {
	max-width: 800px;
	margin: 0 auto;
	border: none;
	color: #333;
}
.button {
	border: none;
	background-image: -o-linear-gradient(315deg, #72e9f3 -20%, #404de6 120%);
	background-image: linear-gradient(135deg, #72e9f3 -20%, #404de6 120%);
	-webkit-box-shadow: 0 11px 36px 0 rgba(70, 89, 138, .25);
	box-shadow: 0 11px 36px 0 rgba(70, 89, 138, .25);
	padding: 16px 45px;
	font-weight: 700;
	font-size: .688rem;
	letter-spacing: 1.54px;
	text-transform: uppercase;
	border-radius: 5px;
	color: white;
}
.button a {
	color: inherit;
	text-decoration: none;
}
.button:focus {
	outline: none !important;
}
.button:hover {
	background-image: -o-linear-gradient(315deg, #80ebf4 -20%, #757fed 120%);
	background-image: linear-gradient(135deg, #80ebf4 -20%, #757fed 120%);
}
.button:active {
	background-image: -o-linear-gradient(315deg, #72e9f3 -20%, #404de6 120%);
	background-image: linear-gradient(135deg, #72e9f3 -20%, #404de6 120%);
}
.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
	pointer-events: none;
}
.bg-img {
	height: 100%;
	position: relative;
}
.bg-img img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}
.bg-img-blue:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(71deg, #0338c6 0%, #21d2ff 100%);
	background-image: linear-gradient(19deg, #0338c6 0%, #21d2ff 100%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-blue {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-blue:hover {
	-webkit-box-shadow: 0 19px 38px rgba(3, 56, 198, 0.30), 0 15px 12px rgba(33, 210, 255, 0.22);
	box-shadow: 0 19px 38px rgba(3, 56, 198, 0.30), 0 15px 12px rgba(33, 210, 255, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-red:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(315deg, #FFE53B -20%, #FF2525 120%);
	background-image: linear-gradient(135deg, #FFE53B -20%, #FF2525 120%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-red {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-red:hover {
	-webkit-box-shadow: 0 19px 38px rgba(255, 229, 59, 0.30), 0 15px 12px rgba(255, 37, 37, 0.22);
	box-shadow: 0 19px 38px rgba(255, 229, 59, 0.30), 0 15px 12px rgba(255, 37, 37, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-green:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(315deg, #08AEEA -20%, #2AF598 120%);
	background-image: linear-gradient(135deg, #08AEEA -20%, #2AF598 120%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-green {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-green:hover {
	-webkit-box-shadow: 0 19px 38px rgba(8, 174, 234, 0.30), 0 15px 12px rgba(42, 245, 152, 0.22);
	box-shadow: 0 19px 38px rgba(8, 174, 234, 0.30), 0 15px 12px rgba(42, 245, 152, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-purple:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(315deg, #21D4FD -20%, #B721FF 120%);
	background-image: linear-gradient(135deg, #21D4FD -20%, #B721FF 120%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-purple {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-purple:hover {
	-webkit-box-shadow: 0 19px 38px rgba(33, 212, 253, 0.30), 0 15px 12px rgba(183, 33, 255, 0.22);
	box-shadow: 0 19px 38px rgba(33, 212, 253, 0.30), 0 15px 12px rgba(183, 33, 255, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-watermelon:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(315deg, #3bfff1 -20%, #FF2525 120%);
	background-image: linear-gradient(135deg, #3bfff1 -20%, #FF2525 120%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-watermelon {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-watermelon:hover {
	-webkit-box-shadow: 0 19px 38px rgba(59, 255, 241, 0.30), 0 15px 12px rgba(255, 37, 37, 0.22);
	box-shadow: 0 19px 38px rgba(59, 255, 241, 0.30), 0 15px 12px rgba(255, 37, 37, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-dark:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(top, #52ACFF 25%, #ed7805 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #52ACFF), to(#ed7805));
	background-image: linear-gradient(180deg, #52ACFF 25%, #ed7805 100%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-dark {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-dark:hover {
	-webkit-box-shadow: 0 19px 38px rgba(82, 172, 255, 0.30), 0 15px 12px rgba(237, 120, 5, 0.22);
	box-shadow: 0 19px 38px rgba(82, 172, 255, 0.30), 0 15px 12px rgba(237, 120, 5, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-yellow:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(303deg, #fa234c 0%, #ffe125 74%);
	background-image: linear-gradient(147deg, #fa234c 0%, #ffe125 74%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-yellow {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-yellow:hover {
	-webkit-box-shadow: 0 19px 38px rgba(250, 35, 76, 0.30), 0 15px 12px rgba(255, 225, 37, 0.22);
	box-shadow: 0 19px 38px rgba(250, 35, 76, 0.30), 0 15px 12px rgba(255, 225, 37, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}
.bg-img-pink:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -o-linear-gradient(300deg, #3cd9fb 5%, #e22057 80%, #f53f46 100%);
	background-image: linear-gradient(150deg, #3cd9fb 5%, #e22057 80%, #f53f46 100%);
	opacity: .55;
	border-radius: 5px;
	pointer-events: none;
}
.bg-img-pink {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	-o-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.bg-img-pink:hover {
	-webkit-box-shadow: 0 19px 38px rgba(60, 217, 251, 0.30), 0 15px 12px rgba(245, 63, 70, 0.22);
	box-shadow: 0 19px 38px rgba(60, 217, 251, 0.30), 0 15px 12px rgba(245, 63, 70, 0.22);
	border-radius: 5px;
	-webkit-transform: translate(0px, -8px);
	-ms-transform: translate(0px, -8px);
	transform: translate(0px, -8px);
}