/* Stylesheet by Bryan H. Garner, 2019 */

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
#mapid {
	height: 100%;
	width: 100%;
	position: fixed;
}
.sequence-control-container {
	width: 260px;
	height: 34px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	line-height: 45px;
	text-align: center;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 20px 30px;
	transform: translateY(-35px);
}
.range-slider {
	width: 200px;
}
.legend-control-container {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 20px 30px;
	font-weight: bold;
	width: 280px;
	transform: translateY(-35px);
}
#temporal-legend {
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	background-color: gainsboro;
	border-radius: 5px 5px 0px 0px;
}
#temporal-legend-gdptotal {
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 5px;
	margin-left: 30px;
}
.usFlag {
	position: fixed;
	margin-top: 2px;
	margin-left: -26px;
}
#reverse {
	float: left;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 15px;
	color: #4b4e51;
}
#reverse:active {
	color: black;
	font-size: 14px;
}
#reverse:disabled {
	color: #A9A9A9;
	font-size: 14px;
	cursor: default;
}
#forward {
	position: fixed;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 15px;
	color: #4b4e51;
}
#forward:active {
	color: black;
	font-size: 14px;
}
#forward:disabled {
	color: #A9A9A9;
	font-size: 14px;
	cursor: default;
}
#auto {
	background-color: Transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 15px;
	color: #4b4e51;
	position: fixed;
	margin-top: 20px;
	margin-left: -113px
}
#auto:active {
	font-size: 14px;
}
#auto:disabled {
	color: #A9A9A9;
	font-size: 14px;
	cursor: default;
}
input[type=range] {
	-webkit-appearance: none;
    margin-left: -25px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	height: 9.4px;
	cursor: pointer;
	background-color: gainsboro;
	border-radius: 2px;
	margin-top: -35px;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
	height: 25px;
	width: 9px;
	border-radius: 2px;
	background: #696969;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
.leaflet-popup-content p {
	height: 5px;
}
/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}
/* Modal Content */

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 45vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 10px;
    min-width: 250px;
    text-align: center;
}
/* Add Animation */

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
/* The Close Button */

.close {
	color: #4b4e51;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover {
	text-decoration: none;
	cursor: pointer;
}
.close:active {
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 26px;
}
.modal-header {
	padding: 2px 16px;
	background-color: gainsboro;
	border-radius: 5px 5px 0px 0px;
	color: black;
}
.modal-body {
	padding: 2px 16px;
}
.view {
	border-radius: 3px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	position: relative;
	font-weight: bold;
}
.view:focus {
	outline: none;
}
.view span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.view span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.view:hover span {
	padding-right: 15px;
}
.view:hover span:after {
	opacity: 1;
	right: 0;
}
/* unvisited link */

a:link {
	font-size: 12px;
	color: green;
}
/* visited link */

a:visited {
	color: green;
}
/* mouse over link */

a:hover {
	color: darkgreen;
}