/* Stylesheet by Bryan H. Garner, 2019 */
body{
    background-color: #26282b;
    font-family: 'Work Sans', sans-serif;
}

.counties {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.map {
    margin: 10px 0 0 20px;
    position: relative;
}

.chart {
    margin: 7px 20px 0 0;
    display : block;
}

.chartBackground {
    fill: none;
}

.chartFrame {
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 0.6em;
    fill: #999;
}

.numbers {
    fill: white;
}

.chartTitle {
    fill: white;
    font-size: 1em;
}

.dropdown {
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    font-family: 'Work Sans', sans-serif;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 75px;
    min-width: 100px;
    color: white;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    line-height: 1em;
}

.labelname {
    font-weight: 600;
    color: #ff8800;
}

#datadetails {
    color: white;
    position: absolute;
    top: 150px;
    left: 40px;
    max-width: 260px;
    font-size: 0.9em;
    z-index: 1;
}

#datasource {
    color: white;
    position: absolute;
    top: 133px;
    left: 40px;
    font-size: 0.6em;
    z-index: 1;
}

#title{
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: center;
    
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


